@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	* {
		@apply m-0;
		@apply p-0;
		@apply box-border;
	}

	html {
		@apply text-xl;
		@apply bg-brand-colour;
		@apply dark:bg-dark-dark-mode-background-dark-grey;
	}

	.clear-gutters {
		@apply mx-4;
		@apply md:mx-auto;
		@apply my-0;
		@apply max-w-gutter;
	}

	p {
		@apply my-[1em];
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		@apply font-medium;
	}

	h1 {
		@apply text-5xl;
		@apply mt-6;
		@apply mb-5;
	}

	h2 {
		@apply text-4xl;
		@apply mt-5;
		@apply mb-4;
	}

	h3 {
		@apply text-3xl;
		@apply mt-4;
		@apply mb-3;
	}

	h4 {
		@apply text-2xl;
		@apply mt-3;
		@apply mb-2;
	}

	h5 {
		@apply text-xl;
		@apply mt-2;
		@apply mb-1;
	}

	h6 {
		@apply text-lg;
		@apply mt-1;
		@apply mb-0;
	}

	a {
		@apply text-link-normal;
		@apply underline;
		@apply underline-offset-2;
		@apply decoration-1;
	}

	a:hover {
		@apply text-link-hover;
		@apply decoration-2;
	}

	a:visited {
		@apply text-link-visited;
	}

	a:active {
		@apply text-text-dark;
		@apply bg-accent-colour;
		@apply decoration-4;
		@apply rounded-t;
	}

	ul {
		@apply list-disc;
	}

	ol {
		@apply list-decimal;
	}

	ul,
	ol {
		@apply list-outside;
		@apply ml-4;
	}

	li {
		@apply ml-4;
		@apply my-2;
	}

	ul.flush {
		@apply list-none;
		@apply m-0;
	}

	ul.flush li {
		@apply m-0;
		@apply py-1;
		@apply leading-5;
	}

	blockquote {
		@apply bg-background-grey;
		@apply border-brand-colour;
		@apply border-l-[12px];
		@apply px-6;
		@apply py-1;
		@apply !my-10;
		@apply rounded-r-md;
	}

	blockquote code {
		@apply bg-[#d9d9d9];
	}

	code {
		@apply bg-background-grey;
		@apply rounded-md;
		@apply px-1;
		@apply py-px;
		@apply mx-px;
		@apply font-mono;
	}

	pre {
		@apply w-full;
		@apply h-fit;
		@apply overflow-x-scroll;
		@apply bg-background-grey;
		@apply !p-5;
		@apply rounded-md;
	}

	pre > code {
		@apply h-fit;
		@apply w-full;
		@apply !bg-[#00000000];
	}

	.text-content {
		@apply py-2;
	}

	.breadcrumbs ol {
		@apply m-0;
		@apply list-none;
	}

	.breadcrumbs li {
		@apply m-0;
		@apply inline-block;
	}

	.breadcrumbs li:not(:last-of-type) {
		@apply after:w-5;
		@apply after:inline-block;
		@apply after:text-center;
		@apply after:content-["›"];
	}

	.breadcrumbs a {
		@apply text-link-normal;
		@apply no-underline;
	}

	.breadcrumbs a:hover {
		@apply text-link-hover;
		@apply underline;
		@apply underline-offset-2;
		@apply decoration-2;
	}
}
